
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Roboto:wght@400;500&display=swap');
html, body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
}
header{
    background-color: transparent;
    position: absolute;
    width: 100%;
}

.menu_main{
    width: 100%;
    background-color: white;
    float: left;
    padding: 30px 0px;
    font-weight: 500;
}
.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url('../image/logo.png');
    background-size: cover;
    z-index: 9999;
    margin-top: -20px;
    border-radius: 10px;
}

.header_menu_area {
  /* width: 100%; */
  float: right;
  position: relative;
  text-align: center;
  
}
.header_menu_area > .mob_nav {
    display: none; 
}

.header_menu_area > ul {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
    padding-left: 0px; 
    padding-right: 0px;
    float: right;
}
.header_menu_area > ul > li {
      width: auto;
      display: inline-block;
      vertical-align: middle; 
}
      
.header_menu_area > ul > li > a:hover {
          color: #043F46;
          /* background: linear-gradient(to right, rgb(0, 34, 93), rgb(20, 70, 158)); */
}
         


.header_menu_area > ul > li > a:hover::after {
          /* height: 100%; */
}
  .active-class{
  
  color: #ffffff !important;
  
  /* border-bottom: solid 4px #0f703a; */
}




@media (max-width: 1200px) {

.menu li:hover>ul {
    width: 100% !important;
    visibility: visible;
    opacity: 1;
    position: unset;
    transform: initial;
    /* height: 122px; */
    z-index: 99999;
    margin-top: 60px;
}
.menu ul:after{
    bottom: 62%;
}

.header_menu_area > ul > li > a {
    width: 100%!important;
    color: white !important;
    text-align: center !important;
    margin-top: 0px !important;
}

.sub-menu {
    margin-top: 73px!important;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    /*position: unset;*/
    transform: initial;
    /* height: 122px; */
    z-index: 99999;
    margin-top: 36px;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0 !important;
    width: 100%;
    transform: initial;
}
.ham-nav{
    display: none;
}

.header_menu a svg{
    display: none;
}

.sub-menu-1{
    position:unset !important;
    width:100% !important;
}


.header_menu_area {
    position: inherit; 
}

.header_menu_area > .mob_nav {
      display: block;
      float: right;
      width: 28px;
      height: 28px;
      margin: 35px 0px;
      cursor: pointer;
      transform: rotate(0);
      -ms-transform: rotate(0);
      -webkit-transform: rotate(0);
      transition: all ease-in-out 0.5s;
      -o-transition: all ease-in-out 0.5s;
      -ms-transition: all ease-in-out 0.5s;
      -moz-transition: all ease-in-out 0.5s;
      -webkit-transition: all ease-in-out 0.5s; 

}

.header_menu_area > .mob_nav > div {
        background: #043F46;
        color: white;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        -ms-transition: all ease-in-out 0.5s;
        -moz-transition: all ease-in-out 0.5s;
        -webkit-transition: all ease-in-out 0.5s;
        width: 100%;
}

.header_menu_area > .mob_nav > div:nth-child(1) {
    top: 2px; 
}

.header_menu_area > .mob_nav > div:nth-child(2), .header_menu_area > .mob_nav > div:nth-child(3) {
    top: 13px; 
}

.header_menu_area > .mob_nav > div:nth-child(4) {
    top: 23px; 
}

.mob_nav.open > div:nth-child(1), .mob_nav.open > div:nth-child(4) {
    left: 50%;
    top: 18px;
    width: 0%; 
}

.mob_nav.open > div:nth-child(2) {
    background: #0a0909;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.mob_nav.open > div:nth-child(3) {
    background: #0a0909;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.header_menu_area > ul {
    width: 100%;
    position: fixed;
    top: 100%;
    left: 0;
    background: #000000;
    min-height: 100vh;
    visibility: hidden;
    opacity: 0;
    z-index: 9 !important;
    transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    top: 74px;
}

.header_menu_area > ul > li {
      width: 100%; 
}

.header_menu_area > ul > li > a {
        color: #fff;
        width: 100%;
        line-height: 30px;
        padding: 10px 5%;
        text-align: left;
        
}

.header_menu_area > ul > li > a::after {
    width: 0px;
    height: 100%!important;
    background: red; 
}

.header_menu_area > ul > li > a:hover::after {
    width: 4px; 
}

.header_menu_area ul.view {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    z-index: 1111 !important;
}

.header_user_area {
    right: calc(5% + 70px);
} 
}

.active-menu{
  background: linear-gradient(to right, rgb(0, 34, 93), rgb(20, 70, 158));
  color: #ffffff !important;
  /* border-bottom: solid 4px #0f703a; */
}


.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
}


.header_menu_area > ul > li > a {
    width: auto;
    float: left;
    /* margin: 0 9px; */
    position: relative;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-weight: 500;
    color:black;
 font-size: 16px;
    margin-top: 26px;
    letter-spacing: 0px !important;
    z-index: 1;
    margin-left: 28px;
    transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    /* text-transform: uppercase; */
    text-decoration: none;
}
.header_menu_area > ul > li > a:hover {
   color:#1B3695;
}
.menu ul li a:hover, .menu ul li:hover>a {
    background:black !important;
    color: #fff;
}
.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    top: 54px;
    padding: 0;
    width: 211px;
    position: absolute;
    left: 0;
    background: #fff;
    z-index: 99;
    transform: translate(0,20px);
    transition: all .2s ease-out;
}


.menu li:first-child {
    margin-left: 0;
}
.menu li:first-child {
    margin-left: 0;
}
.menu ul li {
    display: block;
    float: none;
    background: 0 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.menu ul li a {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding: 15px 10px;
    display: block;
    color:#1B3666;
    text-decoration: none;
    background: white;
    border-bottom: solid 1px rgb(99 96 96 / 10%);
}

.menu ul:after {
    bottom: 100%;
    left: 40%;
    border: solid black;
    content: " ";   
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255,255,255,0);
    border-bottom-color: red;
    border-width: 6px;
    margin-left: -6px;
} 
 .banner2{
    float: left;
    width:100%;
    height: 620px;
    background-image:url(../images/banner2.png) ;
    background-size: cover;
}
.type{
    float: left;

}
.type h1{
    font-size: 3.5rem;
    color: black;
    letter-spacing: 6px;
    text-align: center;
}
.banner3{
    width: 100%;
    float: left;
    background-color: #DFDDDD;
    height:auto;
}
.banner3 h1{
    font-size: 22px;
    color: black;
    margin-top: 64px;
    line-height: 40px;
    text-align: center;
}
.box{
    width: 100%;
    height: 60px;
    background-color:white;
    margin-top: 50px;
    border-radius: 10px;
    border: transparent;
}
.vox{
    float: left;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  /* margin: 0px; */;
  border-right: 1px solid red;
  border: 0px;
  --red: #71717;
  border-radius: 10px;
}
.boxs{
    width: 100%;
    float: left;
    margin-top: 40px;
    background-color: white;
    height: 260px;
    border-radius: 10px;
    padding-top: 15px;
}
.wox{ 
    float: left;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  /* margin: 0px; */;
  border-right: 1px solid red;
  border: 0px;
  --red: #71717;
  border-radius: 10px;
}
  .button {
  background-color: white; 
  color: black; 
  border-radius:10px;
  margin-top: 338px;
  float: left;
  width: 130px;
  height: 40px;
  margin-left: -350px;
}

.button:hover
 {
  background-color: black;
  color: white;
}
.about{
    width: 100%;
    float: left;
    height: 600px;
    background-color: white;
}
.work{
    width: 100%;
    height: 300px;
    float: left;
    border-radius: 10px;
    border : solid 1px #C2C2C2 ;
    margin-top: 140px;
}
.work h2{
    font-size: 20px;
    color: black;
    margin-top: 60px;
    text-align: center;

}

/* mouse over link */
    h2:hover{
    color: red;

}
.work p{
    font-size: 14px;
    color: black;
    text-align: center;
    margin-top: 45px;
    line-height: 25px;
    border: 1px #000;
}

.video-img{
    width: 100%;
}

.addres{
    float: left;
    width: 100%;
    background-color: #0F0F0F;
    height:auto;
}
.contact{
    float: left;
    width: 100%;
}
.contact h1{
    float: left;
    font-size: 19px;
    color: white;
    margin-top: 80px;
    letter-spacing: 2px;
}
.map{
    float: left;
    width: 100%;
}
.map img{
   float: left;
   width: 15px;
   height: 22px;
   margin-top: 22px;
}
.map h1{
    float: left;
    font-size: 14px;
    color: #CFCFCF;
    margin-top: 28px;
    margin-left: 11px;
      width: 260px;
}
.phone{
    float: left;
    width: 100%;
}
.phone img{
   float: left;
   width: 19px;
   height: 19px;
   margin-top: 20px;
}
.phone h1{
    float: left;
    font-size: 14px;
    color: #CFCFCF;
    margin-top: 22px;
    margin-left: 7px;
      width: 130px;
  }
  .mail{
    float: left;
    width: 100%;
  }
  .mail img{
    float: left;
    width: 21px;
    height: 18px;
    margin-top: 20px;
  }
  .mail h1{
    float: left;
    font-size: 14px;
    color: #CFCFCF;
    margin-top: 22px;
    margin-left: 8px;
    width: 123px;
  }
  .mission{
    float: left;
    width: 100%;
  }
  .mission h1{
    float: left;
    font-size: 19px;
    color: white;
    margin-top: 80px;
    letter-spacing: 2px;
  }
  .mission p{
    float: left;
    font-size: 14px;
    margin-top: 12px;
    color:#CFCFCF ;
  }
.vision{
    float: left;
    width: 100%;
}
.vision h1{
    float: left;
    font-size: 19px;
    color: white;
    margin-top: 30px;
    letter-spacing: 2px;
}
.vision p{
    float: left;
    font-size: 14px;
    margin-top: 12px;
    color:#CFCFCF;
    width: 500px;
}
.link h1{
    float: left;
    font-size: 19px;
    color: white;
    margin-top: 30px;
    letter-spacing: 2px;
}
.link p{
    float: left;
    font-size: 14px;
    margin-top: 12px;
    color:#CFCFCF;
    width: 500px;
}
.footer{
    float: left;
    width: 100%;
    background-color: black;
    height: auto; 
}
.icon{
    float: left;
    width: 100%;
}
.icon img{
    float: left;
    width: 70px;
    height: 22px;
    margin-left: 20px;
    margin-top: 26px;
}
.copy{
    float: left;
    width: 100%;
}
.copy h1{
    float: left;
    font-size: 14px;
    color: white;
    margin-top: 27px;
}
.mr-auto {
    margin: auto;
}
.nav-item a{
    color: #000;
    font-size: 0.9rem;
}
.social-icons li {
    display: inline-block;
}
.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
.social-icon-box {
    height: 100%;
}
.navbar-toggler {
    color: #000 !important;
}
.social-icons li {
    padding-left: 5px;
    padding-right: 5px;
}
.banner-container{
    width: 100%;
    position: relative;
}
.banner-caption {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.banner-caption h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    padding: 10px;
    letter-spacing: 3px;
}
.submit-button {
    background-color: black !important;
    margin-top: 40px;
    color: #fff !important;
    margin-bottom: 20px;
}
.flex {
    display: flex;
    justify-content: center;
}
.full-width-img {
    width: 100%;
}

.dot{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
}
.dot h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    color: red;
    font-style: italic;
} 
.dot p{
        text-align: center;
        font-size: 5rem;
        font-weight: 400;
        color: white;
}
.video{
        width: 100%;
        position: relative;
}
.dot img{
        align-items: center;
        width: 80px;
        height: 80px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 20px;
}@media screen and (max-width:1200px){
    .banner-container{
        width: 100%;
        position: relative;
    }
    .banner-caption {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .banner-caption h1{
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
    }.dot{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
     }
    .dot h1{
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        color: red;
        font-style: italic;
    } 
    .dot p{
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
        color: white;
    }
    .video{
        width: 100%;
        position: relative;
    }
    .dot img{
        align-items: center;
        width: 55px;
        height: 55px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 15px;

    }
}
@media screen and (max-width:992px){
    .banner-container{
        width: 100%;
        position: relative;
    }
    .banner-caption {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .banner-caption h1{ 
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
    }
    .banner3 h1{
        font-size: 13px;
        color: #111;
        margin-top: 20px;
        line-height: 20px;
        text-align: center;
        padding: 10px;
    }
    .boxs{
        width: 100%;
        margin-top: 40px;
        background-color: white;
        height: 180px;
        border-radius: 10px;
        padding-top: 15px;
    }
    .box{
        width: 100%;
        height: auto;
        background-color:white;
        margin-top: 10px;
        border-radius: 10px;
        border: transparent;
    }    
     .about{
        width: 100%;
        height: auto;
        background-color: #ffffff;
    }
    .work{
        width: 100%;
        height: auto;
        float: left;
        border-radius: 10px;
        border : solid 1px #C2C2C2 ;
        margin-top: 20px;
        margin-bottom:20px ;
    }
    .work h2{
        font-size: 14px;
        color: black;
        margin-top: 30px;
       text-align: center;
    }
    .work p{
        font-size: 11px;
        color: black;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        line-height: 20px;
    } 
    .dot{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
     }
    .dot h1{
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        color: red;
        font-style: italic;
    } 
    .dot p{
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
        color: white;
    }
    .video{
        width: 100%;
        position: relative;
    }
    .dot img{
        align-items: center;
        width: 60px;
        height: 60px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 15px;

    }
}
@media screen and (max-width:768px){
    .banner-container{
        width: 100%;
        position: relative;
    }
    .banner-caption {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .banner-caption h1{ 
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }     
    .banner3 h1{
            font-size: 13px;
            color: #111;
            margin-top: 20px;
            line-height: 20px;
            text-align: center;
            padding: 10px;
        }
        .box{
            width: 100%;
            height: auto;
            background-color:white;
            margin-top: 10px;
            border-radius: 10px;
            border: transparent;
        }
        .about{
            width: 100%;
            height: auto;
            background-color: #ffffff;
        }
        .work{
            width: 100%;
            height: 200px;
            float: left;
            border-radius: 10px;
            border : solid 1px #C2C2C2 ;
            margin-top: 20px;
            margin-bottom:20px;
        }
        .work h2{
            font-size: 16px;
            color: black;
            margin-top: 30px;
           text-align: center;
        }  
        .work p{
            font-size: 12px;
            color: black;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            line-height: 20px;
        } 
        .dot{
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
        .dot h1{
            text-align: center;
            font-size: 1.0rem;
            font-weight: 300;
            color: red;
            font-style: italic;
        } 
        .dot p{
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            color: white;
            margin-top: -10px;
        }
        .video{
            width: 100%;
            position: relative;
        }
        .dot img{
            align-items: center;
            width: 37px;
            height: 37px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: -10px;

        }              

}
@media screen and (max-width:576px) {
        .banner-container{
            width: 100%;
            position: relative;
        }
        .banner-caption {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
        .banner-caption h1{ 
            text-align: center;
            font-size: 1.1rem;
            font-weight: 600;
        }
        .banner3 h1{
            font-size: 13px;
            color: #111;
            margin-top: 20px;
            line-height: 20px;
            text-align: center;
            padding: 10px;
        }
        .box{
            width: 100%;
            height: auto;
            background-color:white;
            margin-top: 10px;
            border-radius: 10px;
            border: transparent;
        }
        .about{
            width: 100%;
            height: auto;
            background-color: #161616;
        }
        .work{
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 15px;
            background-color: white;
            margin-bottom: 15px;
        }
        .work h2{
            font-size: 15px;
            color: black;
            margin-top: 30px;
            text-align: center;
        }
        .work p{
            font-size: 11px;
            color: black;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            line-height: 20px;
        }
        .video{
            width: 100%;
            position: relative;
        }
        .dot{
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
        .dot h1{
            text-align: center;
            font-size: 0.5rem;
            font-weight: 200;
            color: red;
            font-style: italic;
        } 
        .dot p{
                text-align: center;
                font-size: 1rem;
                font-weight: 300;
                color: white;
        }
        .dot img{
            align-items: center;
            width: 20px;
            height: 20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: -11px;
        }
        }