
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Roboto:wght@400;500&display=swap');
html, body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
}
header{
    background-color: transparent;
    position: absolute;
    width: 100%;
}
.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .fixed-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index:1;
    background-color: white;
    top: 0px;
    display: flex;
  }
  .nav-link {
    padding: .2rem 1rem;
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .navbar navbar-expand-lg navbar-light fixed-top
  {
    background-color: white;
  }
 .banner2{
    float: left;
    width:100%;
    height: 620px;
    background-image:url(../images/banner2.png) ;
    background-size: cover;
}
.type{
    float: left;

}
.type h1{
    font-size: 3.5rem;
    color: black;
    letter-spacing: 6px;
    text-align: center;
}
.banner3{
    width: 100%;
    float: left;
    background-color: #DFDDDD;
    height:auto;
}
.banner3 h1{
    font-size: 22px;
    color: black;
    margin-top: 64px;
    line-height: 40px;
    text-align: center;
}
.box{
    width: 100%;
    height: 60px;
    background-color:white;
    margin-top: 50px;
    border-radius: 10px;
    border: transparent;
}
.vox{
    float: left;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  /* margin: 0px; */;
  border-right: 1px solid red;
  border: 0px;
  --red: #71717;
  border-radius: 10px;
}
.boxs{
    width: 100%;
    float: left;
    margin-top: 40px;
    background-color: white;
    height: 260px;
    border-radius: 10px;
    padding-top: 15px;
}
.wox{ 
    float: left;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  /* margin: 0px; */;
  border-right: 1px solid red;
  border: 0px;
  --red: #71717;
  border-radius: 10px;
}
  .button {
  background-color: white; 
  color: black; 
  border-radius:10px;
  margin-top: 338px;
  float: left;
  width: 130px;
  height: 40px;
  margin-left: -350px;
}

.button:hover
 {
  background-color: black;
  color: white;
}
.about{
    width: 100%;
    float: left;
    height: 600px;
    background-color: white;
}
.work{
    width: 100%;
    height: 300px;
    float: left;
    border-radius: 10px;
    border : solid 1px #C2C2C2 ;
    margin-top: 140px;
}
.work h2{
    font-size: 20px;
    color: black;
    margin-top: 60px;
    text-align: center;

}

/* mouse over link */
    h2:hover{
    color: rgb(0, 68, 255);

}
.work p{
    font-size: 14px;
    color: black;
    text-align: center;
    margin-top: 45px;
    line-height: 25px;
    border: 1px #000;
}

.video-img{
    width: 100%;
}

.addres{
    float: left;
    width: 100%;
    background-color: #0F0F0F;
    height:auto;
}
.contact{
    float: left;
    width: 100%;
}
.contact h1{
    float: left;
    font-size: 19px;
    color: white;
    margin-top: 80px;
    letter-spacing: 2px;
}
.map{
    float: left;
    width: 100%;
}
.map img{
   float: left;
   width: 15px;
   height: 22px;
   margin-top: 22px;
}
.map h1{
    float: left;
    font-size: 14px;
    color: #CFCFCF;
    margin-top: 28px;
    margin-left: 11px;
      width: 260px;
}
.phone{
    float: left;
    width: 100%;
}
.phone img{
   float: left;
   width: 19px;
   height: 19px;
   margin-top: 20px;
}
.phone h1{
    float: left;
    font-size: 14px;
    color: #CFCFCF;
    margin-top: 22px;
    margin-left: 7px;
      width: 130px;
  }
  .mail{
    float: left;
    width: 100%;
  }
  .mail img{
    float: left;
    width: 21px;
    height: 18px;
    margin-top: 20px;
  }
  .mail h1{
    float: left;
    font-size: 14px;
    color: #CFCFCF;
    margin-top: 22px;
    margin-left: 8px;
    width: 123px;
  }
  .mission{
    float: left;
    width: 100%;
  }
  .mission h1{
    float: left;
    font-size: 19px;
    color: white;
    margin-top: 80px;
    letter-spacing: 2px;
  }
  .mission p{
    float: left;
    font-size: 14px;
    margin-top: 12px;
    color:#CFCFCF ;
  }
.vision{
    float: left;
    width: 100%;
}
.vision h1{
    float: left;
    font-size: 19px;
    color: white;
    margin-top: 30px;
    letter-spacing: 2px;
}
.vision p{
    float: left;
    font-size: 14px;
    margin-top: 12px;
    color:#CFCFCF;
    width: 500px;
}
.link h1{
    float: left;
    font-size: 19px;
    color: white;
    margin-top: 30px;
    letter-spacing: 2px;
}
.link p{
    float: left;
    font-size: 14px;
    margin-top: 12px;
    color:#CFCFCF;
    width: 500px;
}
.footer{
    float: left;
    width: 100%;
    background-color: black;
    height: auto; 
}
.icon{
    float: left;
    width: 100%;
}
.icon img{
    float: left;
    width: 70px;
    height: 22px;
    margin-left: 20px;
    margin-top: 26px;
}
.copy{
    float: left;
    width: 100%;
}
.copy h1{
    float: left;
    font-size: 14px;
    color: white;
    margin-top: 27px;
}
.mr-auto {
    margin: auto;
}
.nav-item a{
    color: #000;
    font-size: 0.9rem;
}
.social-icons li {
    display: inline-block;
}
.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
.social-icon-box {
    height: 100%;
}
.navbar-toggler {
    color: #000 !important;
}
.social-icons li {
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}
.banner-container{
    width: 100%;
    position: relative;
}
.banner-caption {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.banner-caption h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    padding: 10px;
    letter-spacing: 3px;
}
.submit-button {
    background-color: black !important;
    margin-top: 40px;
    color: #fff !important;
    margin-bottom: 20px;
}
.flex {
    display: flex;
    justify-content: center;
}
.full-width-img {
    width: 100%;
}

.dot{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
}
.dot h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    color: red;
    font-style: italic;
} 
.dot p{
        text-align: center;
        font-size: 5rem;
        font-weight: 400;
        color: white;
}
.video{
        width: 100%;
        position: relative;
}
.dot img{
        align-items: center;
        width: 80px;
        height: 80px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 20px;
}@media screen and (max-width:1200px){
    .banner-container{
        width: 100%;
        position: relative;
    }
    .banner-caption {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .banner-caption h1{
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
    }.dot{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
     }
    .dot h1{
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        color: red;
        font-style: italic;
    } 
    .dot p{
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
        color: white;
    }
    .video{
        width: 100%;
        position: relative;
    }
    .dot img{
        align-items: center;
        width: 55px;
        height: 55px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 15px;

    }
}
@media screen and (max-width:992px){
    .banner-container{
        width: 100%;
        position: relative;
    }
    .banner-caption {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .banner-caption h1{ 
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
    }
    .banner3 h1{
        font-size: 13px;
        color: #111;
        margin-top: 20px;
        line-height: 20px;
        text-align: center;
        padding: 10px;
    }
    .boxs{
        width: 100%;
        margin-top: 40px;
        background-color: white;
        height: 180px;
        border-radius: 10px;
        padding-top: 15px;
    }
    .box{
        width: 100%;
        height: auto;
        background-color:white;
        margin-top: 10px;
        border-radius: 10px;
        border: transparent;
    }    
     .about{
        width: 100%;
        height: auto;
        background-color: #ffffff;
    }
    .work{
        width: 100%;
        height: auto;
        float: left;
        border-radius: 10px;
        border : solid 1px #C2C2C2 ;
        margin-top: 20px;
        margin-bottom:20px ;
    }
    .work h2{
        font-size: 14px;
        color: black;
        margin-top: 30px;
       text-align: center;
    }
    .work p{
        font-size: 11px;
        color: black;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        line-height: 20px;
    } 
    .dot{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
     }
    .dot h1{
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        color: red;
        font-style: italic;
    } 
    .dot p{
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
        color: white;
    }
    .video{
        width: 100%;
        position: relative;
    }
    .dot img{
        align-items: center;
        width: 60px;
        height: 60px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 15px;

    }
}
@media screen and (max-width:768px){
    .banner-container{
        width: 100%;
        position: relative;
    }
    .banner-caption {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .banner-caption h1{ 
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }     
    .banner3 h1{
            font-size: 13px;
            color: #111;
            margin-top: 20px;
            line-height: 20px;
            text-align: center;
            padding: 10px;
        }
        .box{
            width: 100%;
            height: auto;
            background-color:white;
            margin-top: 10px;
            border-radius: 10px;
            border: transparent;
        }
        .about{
            width: 100%;
            height: auto;
            background-color: #ffffff;
        }
        .work{
            width: 100%;
            height: 200px;
            float: left;
            border-radius: 10px;
            border : solid 1px #C2C2C2 ;
            margin-top: 20px;
            margin-bottom:20px;
        }
        .work h2{
            font-size: 16px;
            color: black;
            margin-top: 30px;
           text-align: center;
        }  
        .work p{
            font-size: 12px;
            color: black;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            line-height: 20px;
        } 
        .dot{
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
        .dot h1{
            text-align: center;
            font-size: 1.0rem;
            font-weight: 300;
            color: red;
            font-style: italic;
        } 
        .dot p{
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            color: white;
            margin-top: -10px;
        }
        .video{
            width: 100%;
            position: relative;
        }
        .dot img{
            align-items: center;
            width: 37px;
            height: 37px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: -10px;

        }              

}
@media screen and (max-width:576px) {
        .banner-container{
            width: 100%;
            position: relative;
        }
        .banner-caption {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
        .banner-caption h1{ 
            text-align: center;
            font-size: 1.1rem;
            font-weight: 600;
        }
        .banner3 h1{
            font-size: 13px;
            color: #111;
            margin-top: 20px;
            line-height: 20px;
            text-align: center;
            padding: 10px;
        }
        .box{
            width: 100%;
            height: auto;
            background-color:white;
            margin-top: 10px;
            border-radius: 10px;
            border: transparent;
        }
        .about{
            width: 100%;
            height: auto;
            background-color: #161616;
        }
        .work{
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 15px;
            background-color: white;
            margin-bottom: 15px;
        }
        .work h2{
            font-size: 15px;
            color: black;
            margin-top: 30px;
            text-align: center;
        }
        .work p{
            font-size: 11px;
            color: black;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            line-height: 20px;
        }
        .video{
            width: 100%;
            position: relative;
        }
        .dot{
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
        .dot h1{
            text-align: center;
            font-size: 0.5rem;
            font-weight: 200;
            color: red;
            font-style: italic;
        } 
        .dot p{
                text-align: center;
                font-size: 1rem;
                font-weight: 300;
                color: white;
        }
        .dot img{
            align-items: center;
            width: 20px;
            height: 20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: -11px;
        }
        }